body
{
	font-family:arial, verdana, sans-serif;
	padding:0;
	font-size:14px;
	margin:0px auto auto auto;
	color:#000000;
	min-width:1130px;
	width:100%;
	text-align:center;
	background:url(../images/stripe.png) repeat;
}
a{
	color:#990000;
}
p{
	padding:5px 0 5px 0;
	margin:0px;
}
td, div{
	vertical-align: top;
}
img{
	border:0;
}
textarea{
	overflow:auto;
}
#path, #subcategories, .item, .item_img, #addCommentContainer, #textarea_comment, #textarea_addres, #view_item, .comment, #message, #error, #ordbtn ,
a.btnsignin, a.btnsignout, a.btnbasket, #frmsignin input[type=text], #frmsignin input[type=password],#form,#form_error,
#form input[type=text],#form input[type=password], #submitbtn , #commentbtn, #regbtn, #basketbtn, .qty_text, #cur_type, .status_select{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	behavior: url(border-radius.htc);
}
#wrap{
	width:900px;
	height:auto;
	margin:auto;
	background-color:#FFFFFF;
	text-align:left;
}
#header{
	width:900px;
	height:181px;
	background:url(../images/header.png) no-repeat center;
}
#basket_icon{
	width:33px;
	height:26px;
	float: left;
	background:url(../images/basket.png) no-repeat top left;
	margin:0px 5px 5px -2px;
}
/*-------Для входа/регистрации и корзины--------------------------*/
#signbtn,#basket{
	float:right;
	display: inline-block;
	margin:0 2px;
}
a.btnsignin, a.btnsignout, a.btnbasket {
	background-color:#999;
	padding:5px 8px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	height:26px;
}
a.btnbasket{
	background-image:url(../images/basket.png);
	background-repeat: no-repeat;
	padding-left:35px;
}
a.btnsignin:hover, a.btnsignout:hover, a.btnbasket:hover {
	background-color:#666;
}
a.btnsigninon, a.btnbasketon{
	background-color:#ccc!important;
	color:#666!important;
	outline:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	behavior: url(border-radius.htc);
}
#frmsignin {
	display:none;
	background-color:#ccc;
	position:absolute;
	margin:0 auto;
	top: 21px;
	left:780px;
	width:215px;
	padding:12px;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior: url(border-radius.htc);
	z-index:100;
}
#frmsignin input[type=text], #frmsignin input[type=password], #form input[type=text],#form input[type=password], #textarea_addres, .status_select{
	display:block;
	border:1px solid #666;
	margin:0 0 5px;
	padding:5px;
}
#frmsignin input[type=text], #frmsignin input[type=password], #form input[type=text],#form input[type=password], #textarea_addres{
	width:203px;
}
#frmsignin p {
	margin:0;
}
#frmsignin label {
	font-weight:normal;
}
#submitbtn , #commentbtn, #regbtn, #basketbtn, #ordbtn{
	background-color:#333;
	border:1px solid #fff;
	color:#fff;
	padding:5px 8px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#submitbtn:hover, #submitbtn:focus, #commentbtn:hover, #commentbtn:focus,
#regbtn:hover, #regbtn:focus, #basketbtn:hover, #basketbtn:focus, #ordbtn:hover, #ordbtn:focus{
	border:1px solid #000;
	cursor:pointer;
}
.submit {
	padding-top:5px;
}
#msg {
	color:#000000;
}
#msg img {
	margin-bottom:-3px;
}
#msg p {
	color:#000000;
	margin:5px 0;
}
#msg p:last-child {
	margin-bottom:0px;
}
#form,#form_error{
	margin:5px 150px 5px 150px;
	padding: 20px;
	border:1px dashed #b2b2b2;
	background: #f9f9f9;
}
#addCommentContainer{
	margin:10px;
	border:1px dashed #b2b2b2;
	background: #f9f9f9;
	padding:10px;
}
#textarea_comment, #textarea_addres{
	border:1px solid #666;
	margin:0 0 5px;
	padding:5px;
	font-family:arial, verdana, sans-serif;
	font-size:14px;
}
#textarea_comment{
	width:825px;
}
#addCommentContainer p {display:inline-block;}
#form form{
	margin-left:150px;	
}
/*-----------------------------menu-------------------*/
#menu{
	position:absolute;
	width:500px;
	height:41px;
	margin:140px 200px 5px 200px;
	background:url(../images/basket_background.png) repeat;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	behavior: url(border-radius.htc);
}
#menu ul{
	display:block;
	list-style:none;
	padding:8px 0 0 20px;
	margin:0px;
}
#menu ul li{
	display:inline;
	padding:0px;
	margin:0px;
	height:27px;
}
#menu ul li a{
	height:27px;
	display:block;
	padding:0px 15px 0 15px;
	margin:0 5px 0 5px;
	_margin:0 2px 0 2px;
	float:left;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-size:20px;
	line-height:27px;
}
#menu ul li.selected a{
	height:27px;
	display:block;
	padding:0px 15px 0 15px;
	margin:0 5px 0 5px;
	float:left;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-size:20px;
	line-height:27px;
	background:url(../images/menu_selected_background.png) repeat-x center;
}
#menu ul li a:hover{
	background:url(../images/menu_selected_background.png) repeat-x center;
}
/*------------------------------------center content--------------------*/
#content{
	width:880px;
	text-align:left;
	padding:10px;
}
#name{
	margin:20px 20px 20px 5px;
	color:#990000;
	font-size: 25px;
	font-weight:bold;
}
#path{
	margin:5px;
	padding: 10px;
	background:#f9f9f9;
	border: 1px dashed #b2b2b2;
}
#subcategories{
	background:#f9f9f9;
	border: 1px dashed #b2b2b2;
	padding: 10px;
	margin: 5px;
}
#subcategories table{
	table-layout: fixed;
	width:840px;
}
#products table{
	table-layout: fixed;
	width:100%;
}
#subcategories td {
	padding:5px;
	width:25%;
	word-wrap: break-word;
}
#poducts td{
	width:50%;
	word-wrap: break-word;
}
/*-----------------------Отображение товаров в категории---------------------*/
.item{
	width:100%;
	padding:10px 0 10px 0;
	word-wrap: break-word;
	display: inline-table;
	background:url(../images/content_background.png) repeat-x;
}
.item_img{
	float: left;
	height: 150px;
	width: 180px;
	margin:0 10px 0 10px;
	border: 1px dashed #b2b2b2;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}
.item_name{
	margin-left: 195px;
}
.item_name a{
	font-size: 18px;
	font-weight:bold;
}
.item_details{
	margin-left: 195px;
}
/*---------------------------Просмотр товара-------------------*/
#view_item{
	width:850px;
	display:block;
	padding:10px;
	margin:5px;
	background:url(../images/content_background.png) repeat-x;
}
#view_item_img{
	display:inline-block;
	height: 320px;
	width: 400px;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	behavior: url(border-radius.htc);
	border: 1px dashed #b2b2b2;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}
#view_item_info{
	display:inline-block;
	width: 420px;
	padding: 10px 0px 0px 20px;
}
#view_item_info p{
	font-size: 16px;
	text-align:justify;
}
/*-----------------Coments--------------*/
.comment{
	margin:10px;
	margin:10px;
	background:#f9f9f9;
	border:1px dashed #b2b2b2;
	padding:10px;
}
.comment_top{
	float:left;
	font-weight:bold;
	display: inline-block;
	color:	#999999;
}
.comment_date{
	float:right;
	display: inline-block;
	color:	#999999;
}
.comment_message{
	display:block;
	margin-top: 20px;
}
/*-----------------------cart---------------------*/
.cart_table, .admin_table{
	width:100%;
	border:1px solid #dddddd;
	margin:10px 0;
}
.cart_table td,.cart_table th{
	padding:10px;
	text-align:center;
	vertical-align:middle;
}
.cart_table td a{
	font-weight:bold;
}
.cart_table_heading, .cart_grey_row{
	background-color:#dddddd;
}
.cart_white_row{
	background-color:#f9f9f9;
}
.qty_text{
	border:1px solid #666;
	margin:0 0 5px;
	padding:5px;
	width:40px;
	text-align:center;
}
#cart_message{
	font-weight:bold;
	font-size:16px;
	padding-left:5px;
}
/*---------------footer------------------------*/
.footer{
	padding: 10px;
	height:50px;
	border-top:1px #b2b2b2 dashed;
	text-align:center;
	color:#b2b2b2;
}
.footer a{
	text-decoration:none;
	padding:0 10px 0 10px;
	color:#b2b2b2;
}
.footer a:hover{
	text-decoration:underline;
}
/*---------------admin----------------*/
.admin_table td{
	text-align:justify;
}
.admin_table th{
	text-align:center;
}
.admin_table td, .admin_table th{
	padding:10px;
	vertical-align:middle;
}
#view_types{
	background:url(../images/filter.png) top left no-repeat;
	padding: 5px 0 5px 37px;
}
#view_types a{
	font-size: 16px;
	font-weight:bold;
	color: grey;
	padding: 0 5px;
}
#cur_type{
	background:#999999;
	font-size: 16px;
	font-weight:bold;
	color: #ffffff;
	padding: 5px;
	cursor: pointer;
}
#cur_type:hover{
	background:#666666;
}
.status_select{
	width: 120px;
}
/*----------------------other---------------*/
#message{
	margin:5px;
	padding:20px;
	background:#f9f9f9;
	border:1px dashed #b2b2b2;
}
.error {color:red;}