body
{
	font-family:arial, verdana, sans-serif;
	padding:0;
	font-size:14px;
	margin:0px auto auto auto;
	color:#000000;
	width:100%;
	text-align:center;
	background:url(../images/stripe.png) repeat;
}
a{
	color:#990000;
}
p{
	padding:5px 0 5px 0;
	margin:0px;
}
td{
	vertical-align: top;
}
#wrap{
	width:900px;
	height:auto;
	margin:auto;
	background-color:#FFFFFF;
	text-align:left;
}
.header{
	width:900px;
	height:181px;
	background:url(../images/header.png) no-repeat center;
}
#basket{
	width: 120px;
	float: right;
	margin: 5px;
	padding:5px;
	background:url(../images/basket_background.png) repeat;
	color: #ffffff;
	text-align:justify;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
}
#basket_icon{
	width:33px;
	height:26px;
	float: left;
	background:url(../images/basket.png) no-repeat top left;
	margin:0px 5px 5px -2px;
}
/*-----------------------------menu-------------------*/
#menu{
	position:absolute;
	width:500px;
	height:41px;
	margin:135px 200px 5px 200px;
	background:url(../images/basket_background.png) repeat;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
}
#menu ul{
	display:block;
	list-style:none;
	padding:8px 0 0 20px;
	margin:0px;
}
#menu ul li{
	display:inline;
	padding:0px;
	margin:0px;
	height:27px;
}
#menu ul li a{
	height:27px;
	display:block;
	padding:0px 15px 0 15px;
	margin:0 5px 0 5px;
	_margin:0 2px 0 2px;
	float:left;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-size:20px;
	line-height:27px;
}
#menu ul li.selected a{
	height:27px;
	display:block;
	padding:0px 15px 0 15px;
	margin:0 5px 0 5px;
	float:left;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-size:20px;
	line-height:27px;
	background:url(../images/menu_selected_background.png) repeat-x center;
}
#menu ul li a:hover{
	background:url(../images/menu_selected_background.png) repeat-x center;
}
/*------------------------------------center content--------------------*/
#main{
	width:900px;
	text-align:left;
}

#content{
	padding:10px;
}
#category{
	margin:20px 20px 20px 5px;
	color:#990000;
	font-size: 25px;
	font-weight:bold;
}
#category_path{
	margin:5px;
	padding: 10px;
	background:#f9f9f9;
	border: 1px dashed #b2b2b2;
}
#subcategories{
	background:#f9f9f9;
	border: 1px dashed #b2b2b2;
	padding: 10px;
	margin: 5px;
}
#subcategories table{
	width:840px;
	table-layout: fixed;
}
#subcategories td {
	padding:5px;
	width:25%;
	word-wrap: break-word;
}
#item{
	padding:10px;
	word-wrap: break-word;
	display: inline-table;
	background:url(../images/content_background.png) repeat-x;
}
#item_img{
	float: left;
	height: 150px;
	width: 180px;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border: 1px dashed #b2b2b2;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}
#item_name{
	margin-left: 195px;
}
#item_name a{
	font-size: 18px;
	font-weight:bold;
}
#item_details{
	margin-left: 195px;
}
/*---------------footer------------------------*/
.footer{
	padding: 10px;
	height:50px;
	border-top:1px #b2b2b2 dashed;
	text-align:center;
	color:#b2b2b2;
}
.footer a{
	text-decoration:none;
	padding:0 10px 0 10px;
	color:#b2b2b2;
}
.footer a:hover{
	text-decoration:underline;
}